
$spacing-0: 0;
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1rem;
$spacing-5: 1.25rem;
$spacing-6: 1.5rem;

$xs: 320px;
$sm: 600px;
$md: 900px;
$lg: 1200px; 

body {
  min-height: 100vh;
  margin: 0;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: #eef;
  background: linear-gradient(to bottom right, rgb(255, 253, 119), rgb(255, 252, 79));

  @media screen and (max-width: $sm){
    background: linear-gradient(to right, rgb(255, 253, 119), rgb(255, 252, 79));
  }
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  // background: linear-gradient(to bottom right, rgb(15, 82, 102), rgb(55, 134, 238)); 
  background: linear-gradient(to bottom right, blue, blueviolet); 
  color: white;
  padding: 1rem;

  .navbar-logo {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.2em;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2em);
  justify-content: center;
  padding: 1em;
  color: rgb(30, 36, 39);
  max-width: 1000px;
  margin: auto;
}

.user-name {
  font-size: 2rem;
  letter-spacing: 0.05em;
  font-weight: 700;
  padding-bottom: 10px;
}

.designation {
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.card {
  background-color: #fff;
  padding: 1em;
  margin: 1em auto;
  width: calc(100% - 2em);
  border-radius: 2px;
}

.card-shadow {
  // box-shadow: 0 0 10px 10px #ddd;
  border: 1px solid blueviolet;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 700;
}

.card-content {

}

.card-footer {

}

.basic-details-wrapper {
  @media screen and (max-width: $sm){
    flex-direction: column;
    width: 100% !important;
  }
  .name-designation-wrapper {
    @media screen and (max-width: $sm){
      width: 100% !important;
    }
  }
  .contact-details-wrapper {
    line-height: 1.5em;
    @media screen and (max-width: $sm){
      width: 100% !important;
    }
  }
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill {
  border-radius: 2em;
  background: linear-gradient(to bottom right, rgb(90, 255, 57),rgb(74, 253, 58));
  color: #060657;
  padding: 0.5em 2em;
  margin: 0.5em;
  transition: all 0.25s ease-in-out;
}

.skill:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1px 1px rgb(35, 141, 212);
  background: linear-gradient(to bottom right, rgb(74, 253, 58), rgb(90, 255, 57));
}

.section-card {
  margin: 1.5em 0;
  .card-title {
    letter-spacing: 0.03em;
  }
}

.experience-card {
  // margin: 0;
  padding: 0;
  @media screen and (max-width: $sm){
    margin: 0;
    margin-bottom: 1em;
    width: 100%;
  }
  .title-date-row {
    
    .title {
      font-weight: bold;
      padding-bottom: 0.5em;
    }
    .date {
      padding-bottom: 0.5em;
      font-weight: lighter;
    }
  }
  .subtitle {
    font-style: italic;
    padding-bottom: 0.5em;
  }

  .description {
    font-size: 0.9em;
    line-height: 1.5em;
    color: rgb(122, 125, 133) !important;
    text-align: justify;
  }
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
}

.col-1 {
  width: calc((1/12) * 100%);
}

.col-2 {
  width: calc((2/12) * 100%);
}

.col-3 {
  width: calc((3/12) * 100%);
}

.col-4 {
  width: calc((4/12) * 100%);
}

.col-5 {
  width: calc((5/12) * 100%);
}

.col-6 {
  width: calc((6/12) * 100%);
}

.col-7 {
  width: calc((7/12) * 100%);
}

.col-8 {
  width: calc((8/12) * 100%);
}

.col-9 {
  width: calc((9/12) * 100%);
}

.col-10 {
  width: calc((10/12) * 100%);
}

.col-11 {
  width: calc((11/12) * 100%);
}

.col-12 {
  width: calc((12/12) * 100%);
}

.justify-content-center { 
  justify-content: center;
}

.justify-content-start { 
  justify-content: flex-start;
}

.justify-content-end { 
  justify-content: flex-end;
}

.justify-content-space-around { 
  justify-content: space-around;
}

.justify-content-space-evenly { 
  justify-content: space-evenly;
}

.justify-content-space-between { 
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: end;
}

.align-items-stretch {
  align-items: stretch;
}

.m-0 {
  margin: $spacing-0;
}

.m-1 {
  margin: $spacing-1;
}

.m-2 {
  margin: $spacing-2;
}

.m-3 {
  margin: $spacing-3;
}

.m-4 {
  margin: $spacing-4;
}

.m-5 {
  margin: $spacing-5;
}

.m-6 {
  margin: $spacing-6;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  
  &.open {
    display: block;
  }

  .modal-content-wrapper {
    background-color: #fefefe;
    margin: auto;
    padding: 1.25em 1em 1.5em;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;

    .modal-header {
      padding: 0 0 0.5em 0;
      border-bottom: 1px solid rgba(0,0,0,0.2);
      margin-bottom: 1em;
      .modal-title {
        font-weight: bold;
        letter-spacing: 0.03em;
        font-size: 1.25em;
      }
      .close {
        cursor: pointer;
        color: rgba(0, 0, 0, 0.5);
        transition: all 0.2s ease-in-out;
        &:hover {
          color: rgba(0, 0, 0, 0.9);  
        }
      }  
    }

    .modal-content {

    }
  }
}

.label-input-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;

  padding-bottom: 1em;

  .label {
    font-size: 0.9em;
    padding-bottom: 0.25em;
  }

  .input {
    border-radius: 2px;
    padding: 0.25em;
    line-height: 1.5em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 0.85em;
    letter-spacing: 0.02em;
  }

  .textarea {

  }

  .error-text {
    color: rgb(211, 56, 56);
    font-size: 0.75em;
    line-height: 1em;
    padding: 0.25em 0em;
  }

}

.feedbacks-wrapper {
  background: transparent;
  .add-feedback-button-wrapper {
    .add-feedback-button {
      background: linear-gradient(45deg, blue, blueviolet);
      border: 0px;
      outline: 0px;
      padding: 0.5rem 1.5rem;
      color: white;
      text-transform: uppercase;
      border-radius: 4px;
      font-weight: bold;
      // font-size: 1rem;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
  .feedback-list-wrapper {
    .feedback-list {
      // display: flex;
      // flex-wrap: wrap;

      @media screen and (max-width: $sm) {
        justify-content: center;
      }

      .feedback-item-wrapper {
        background: linear-gradient(to bottom right, #eef, #fff);
        border-radius: 5px;
        padding: 1em 0.5em;
        // margin: 1em 1em 0em 0em;
        margin: 1em 0em 0em 0em;
        // max-width: 600px;
        position: relative;
        padding-left: 1.5em;
        border: 1px solid blueviolet;

        @media screen and (max-width: $sm) {
          width: -webkit-fill-available;
          margin: 1em 0em 0em 0em;
        }

        &:before {
          content: '';
          position: absolute;
          height: 65%;
          width: 2px;
          background: blueviolet;
          left: 1em;
        }
        .feedback-title {
          font-weight: bold;
        }
        .name, .email {
          font-size: 0.75em;
          font-style: italic;
          margin: 0.5em 0.5em 0.5em 0;
        }
        .feedback-content {
          font-size: 0.9em;
        }
      }
    }
  }
}

.loader-wrapper {
  height: 100%;
  width: 100%;
  padding: 2em 0;

  // Loader CSS source: W3 Schools
  .loader {
    border: 8px solid whitesmoke;
    border-top: 8px solid blue; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}